@{
    ViewBag.Title = "Administrativo";
}

<div class="row">
    <nav class="col-md-3 ml-sm-auto col-lg-2 ">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a style="padding: 5px 15px; padding-top: 25px" class="nav-link active" href="#">
                        <span data-feather="home"></span>
                        Dashboard <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file"></span>
                        Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="shopping-cart"></span>
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="users"></span>
                        Customers
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="bar-chart-2"></span>
                        Reports
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="layers"></span>
                        Integrations
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main" class="col-md-8 ml-sm-auto col-lg-10 px-4" style="padding: 5px 15px; padding-top: 25px">


        <div class="panel panel-default">

            <div class="panel-heading">
                <h4 class="modal-title"> Dashboard </h4>
            </div>

            <div class="panel-body">

            </div>
        </div>



        <div ng-app="winterfell" ng-controller="AdministrativoController">
            <div class="panel panel-default">
                {{nome}}
                <div class="panel-heading">
                    <h4 class="modal-title"> Lista de Usuario </h4>
                </div>

                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th> Id </th>
                                <th> Nome </th>
                                <th> Data de Cadstro </th>
                                <th> Email </th>
                                <th>  </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in viewdata.list">
                                <td>{{item.Id}}# </td>
                                <td>{{item.Nome}} </td>
                                <td>{{item.DataCadastro}} </td>
                                <td>{{item.Telefone}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/administrativo")
}


